html, body {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 50px 25px 50px 25px;
    color: #212121;
}
@media screen and (max-width: 450px) {
    html, body {
        padding: 25px 10px 35px 10px;
    }
}
@media screen and (max-width: 350px) {
    html, body {
        padding: 25px 5px 35px 5px;
    }
}
.header {
    text-align: center;
    margin-top: -100px;
    padding: 0px 25px 0px 25px;
    margin-bottom: 20px;
    font-size: 38px;
}
.header img {
    max-width: 140px;
    max-height: 140px;
    border-radius: 50%;
}
.tagline {
    font-size: 24px;
    max-width: 775px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6em;
    text-align: center;
    margin-top: 10px;
}
.section {
    max-width: 775px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    padding-bottom: 40px;
}
.section-header {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 0px;
    display: block;
    font-weight: bold;
}
.project-wrapper {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 280px 1fr;
    box-shadow: 0px 6px 10px 5px rgba(0, 0, 0, 0.065);
    text-decoration: none;
    color: #212121;
}
.project-wrapper:hover {
    box-shadow: 0px 6px 10px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    bottom: 2px;
}
@media screen and (max-width: 750px) {
    .project-wrapper {
        grid-template-columns: 230px 1fr;
    }
}
@media screen and (max-width: 600px) {
    .project-wrapper {
        grid-template-columns: 1fr;
        margin-bottom: 25px;
    }
}
.project-thumbnail {
    width: 100%;
    height: 165px;
    object-fit: cover;
    border-radius: 5px 0px 0px 5px;
}
@media screen and (max-width: 450px) {
    .project-thumbnail {
        height: 165px;
        border-radius: 5px 5px 0px 0px;
    }
}
.project-info {
    max-width: 400px;
    margin-left: 30px;
    align-self: center;
    padding: 20px;
}
@media screen and (max-width: 750px) {
    .project-info {
        margin-left: 10px;
    }
}
@media screen and (max-width: 600px) {
    .project-info {
        margin-left: 0px;
        padding: 20px 30px 25px 30px;
    }
}
.project-title {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    cursor: pointer;
    line-height: 1.2em;
}
@media screen and (max-width: 800px) {
    .project-title {
        font-size: 24px;
        margin-bottom: 7px;
    }
}
.project-desc {
    font-size: 18px;
    line-height: 1.4em;
}
.logo-header {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    line-height: 1.6em;
}
.logos {
    text-align: center;
    margin-top: 20px;
}
.logos img {
    margin-right: 30px;
    height: 30px;
    vertical-align: middle;
    opacity: 0.8;
    filter: saturate(0%) brightness(70%) contrast(1000%);
}
@media screen and (max-width: 900px) {
    .logos img {
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 450px) {
    .logos img {
        margin-left: 10px;
        margin-right: 10px;
        height: 25px;
        opacity: 0.65;
    }
}
.get-in-touch {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}
@media screen and (max-width: 450px) {
    .get-in-touch {
        grid-gap: 10px;
    }
}
.button-style {
    display: inline-block;
    font-size: 28px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(150deg, #2a3d44 50%, #000000);
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}
@media screen and (max-width: 450px) {
    .button-style {
        font-size: 24px;
        height: 60px;
    }
}
.button-style-alt {
    display: inline-block;
    font-size: 28px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(150deg, #fc5b78 50%, #fc5bae);
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}
@media screen and (max-width: 450px) {
    .button-style-alt {
        font-size: 24px;
        height: 60px;
    }
}
.button-icon {
    height: 20px;
    margin-right: 8px;
}
.circle-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #cccccc; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-top: 20px;
    cursor: pointer;
}
.circle-icon img {
    width: 60%;
    height: auto;
}
.circle-icon:hover {
    transform: scale(1.1); 
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); 
}

.blog-post {
    margin-bottom: 30px;
    padding: 20px;
    background-color: ##f3f3f3;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.blog-post h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.blog-post h3 a {
    color: #212121;
    text-decoration: none;
}

.blog-post h3 a:hover {
    color: #5b6bfc;
}

.blog-post .date {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}
.button-style-blog {
    display: inline-block;
    font-size: 28px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(150deg, #808080 50%, #000000);
    font-weight: bold;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}
/* Add this to your existing CSS */

/* Made by Mandar Section */
.made-by {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: white;
    color: black;
    border-radius: 8px;
}

.made-by a {
    color: #black;
    text-decoration: none;
    font-weight: bold;
}

.made-by a:hover {
    text-decoration: underline;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.header-image-wrapper {
    margin-bottom: 10px;
}

.header-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.header-title {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.tagline {
    font-size: 1.2rem;
    margin: 10px 0;
    max-width: 600px;
}

.circle-icon img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

main {
    padding: 20px;
    max-width: 800px;
    text-align: left;
}

main section {
    margin-bottom: 20px;
}

/* Apply this to ensure footer stays at the bottom */
body {
  margin: 0;
  padding-bottom: 60px; /* Adjust this value to match the height of your footer */
}

footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 20px;
  position: bottom;
  left: 0;
  bottom: 0;
  width: 100%;

}

.footer-content {
  max-width: 1000px;
  margin: auto;
}

.footer-links {
  list-style-type: none;
  padding: 0;
}

.footer-links li {
  display: inline;
  margin: 0 10px;
}

.footer-links a {
  text-decoration: none;
  color: #333;
}

.footer-links img {
  width: 24px; /* Adjust size as needed */
  height: 24px; /* Adjust size as needed */
  vertical-align: middle;
}

.footer-links a:hover img {
  opacity: 0.8; /* Optional: adds a hover effect */
}


